<header id="header">
    <h1>
        <a href="{{ '/' | relative_url }}">
            <strong>{{ site.header.title }}</strong> {{ site.header.subtitle }}
        </a>
    </h1>
    <nav aria-label="メインナビゲーション">
        <ul>
            <li><a href="{{ '/' | relative_url }}" class="icon fa-th">作例</a></li>
            <li><a href="{{ '/request/' | relative_url }}" class="icon fa-camera">撮影依頼</a></li>
            <li><a href="#footer" class="icon fa-envelope">お問い合わせ</a></li>
        </ul>
    </nav>
</header>
